.gameContainer {
    width: 606px;
    height: 729px;
    margin: 0 auto;
    background-color: black;
    border: 1px solid #ff0000;
    position:relative;
}

.paleta {
    width: 117px;
    height: 13px;
    background-color: red;
    position: absolute;
  
}
.muro{
 
    background-color: green;
    position: absolute;
}
.canasta{
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
    
}
.ball{
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
  }

  .contador{
      position: absolute;
      color: white;
      top: 0px;
      left: 20px;
  }
  .container{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 10;
      background: #fff;
  }