.gameContainer {
    width: 606px;
    height: 729px;
    margin: 0 auto;
    background-color: black;
    border: 1px solid #ff0000;
    position:relative;
}

.paleta {
    width: 117px;
    height: 13px;
    background-color: red;
    position: absolute;
  
}
.muro{
    width: 117px;
    height: 50px;
    background-color: green;
    position: absolute;
}
.canasta{
    width: 30px;
    height: 30px;
    background-color: yellow;
    position: absolute;
}
.ball{
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 50%;
  }